<!-- 
    Variables for template
    username - session username
    user_id - session user_id
    is_mine - True if questions given are only the user's. Used to determine whether a question has a delete option
    my_questions - a list of my_question objects. See questinos.py


 -->




{%extends "layout.html" %}
{%block header_content%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css' ) }}"">
{%endblock%}
{%block body_content%}
<div class=" container">
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">qPost</a>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="{{url_for('views.logout') }}" class="btn text-white">Logout</a>
            </li>
            {%if not is_teacher %}
            <li class="nav-item active">
                <a href="{{url_for('views.index') }}" class="btn text-white">My Questions</a>
            </li>
            <li class="nav-item active">
                <a href="{{url_for('views.question') }}" class="btn text-white">Answer Questions</a>
            </li>
            {%else%}
            <li class="nav-item active">
                <a href="{{url_for('views.teacher') }}" class="btn text-white">Answer Questions</a>
            </li>
            {%endif%}
        </ul>

    </div>
</nav>
<div class="new_question d-flex flex-column justify-content-center">
    <div class="new-card card d-flex flex-row justify-content-center">
        <div class="card-header text-white bg-dark question w-50">
            <form action="{{ url_for('views.question_action', action ='new') }}" method="POST"><input type="text"
                    name="question" id="question_input" placeholder="What is your question?">
                <button class="btn-new-question btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div>
<div class="pt-3"></div>
<div class="main pt-5">

    <div>
        <h2>Welcome {{username}}</h2>
        <button class="q btn  btn-dark">Ask <i class="text-white bi bi-plus-square"></i>
        </button>
    </div>

    {% if is_mine %}
    <h3>My Questions</h3>
    {% else %}
    <h3>All Questions</h3>
    {%endif%}
    <div class="d-flex flex-column">

        {% for question_item in my_questions %}
        <div class="card bg-dark">
            <div class="card-header text-white question">
                <span class="question-item">Q: {{question_item['question']}}</span>
                <span class="functions"><a href="$" class="answer-button btn btn-primary"><i
                            class="text-white bi bi-check-circle-fill"></i>
                        Answer</a>
                    {% if user_id == question_item['user_id'] or is_teacher %}
                    <form onsubmit="return confirm('Are you sure you want to delete this question?');"
                        action="{{ url_for('views.question_action', action='delete')}}" style="display: inline;"
                        method="POST">
                        <input type="hidden" name="q_id" value="{{question_item['id']}}">
                        <button class="delete-button btn btn-danger"><i class="text-whitebi bi-x-circle-fill"></i>
                            Delete</button>
                    </form>
                    {% endif %}
                </span>

            </div>

            <ul class="list-group list-group-flush">
                <li class=" list-group-item answer-container">
                    <form action="{{url_for('views.answer', action='add')}} " method="POST"><input class="answer_input"
                            name="answer_input" type="text"><input type="hidden" name="q_id"
                            value="{{question_item['id']}}"><button class="btn btn-success"><i
                                class="text-white bi bi-check-circle-fill"></i> Submit </button>
                    </form>
                </li>

                {% for (answer,a_id, is_answer) in question_item['answers']%}
                <li class="answer {{'bg-success' if is_answer }}
                 list-group-item"> {{answer}}

                    <input type="hidden" name="a_id" id="a_id" value="{{a_id }}">
                    {%if is_answer%}
                    <button class="btn btn-primary unmark-answer"> <i
                            class=" text-white bi bi-backspace-reverse-fill"></i>Not an answer</button>
                    {%else%}
                    <button class="btn btn-success mark-answer"><i class=" text-white bi bi-check-all"></i>Mark as
                        answer</button>
                    {%endif%}
                    {%if is_mine or is_teacher %}
                    <button class="btn btn-warning text-white delete-answer"><i
                            class="bi text-white bi-x-circle-fill"></i>Delete
                        answer</button>
                    {%endif%}

                </li>
                {%endfor%}
            </ul>


        </div>
        {%endfor%}
    </div>

</div>

{%endblock%}
{%block script_content %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
{%endblock%}