body{
    box-sizing: border-box;
}
.new_question {
    position: absolute;
    visibility: hidden;
    background-color:white;
    width: 0vw;
    left: 0px;
    top: 0px;
    height: 0vH;
    z-index: 99;
    opacity: 0.8;
}
.mark-answer, .unmark-answer, .delete-answer {
    visibility: hidden ;
    float:right;
 }

.answer-container{

    visibility: hidden;
    width: 0vw;
    height: 0vH;
    padding: 0;
}
.answer:hover{
     background-color: gray; 
}

.answer:hover > .mark-answer,.answer:hover > .delete-answer, .answer:hover > .unmark-answer {
    visibility: visible;
}

.functions {
   float:right
}

.card{
    margin: 0.5em;
}

.filters{
    display: inline;
    background-color: gray;
    margin-left: 2em;
    padding:  1em 2em;

}

