body{
    box-sizing: border-box;
}
.new_question {
    position: absolute;
    visibility: hidden;
    background-color:white;
    width: 0vw;
    left: 0px;
    top: 0px;
    height: 0vH;
    z-index: 99;
    opacity: 0.8;
}
.mark-answer {
    visibility: hidden ;
    float:right
 }

.answer-container{

    visibility: hidden;
    width: 0vw;
    height: 0vH;
    padding: 0;
}
.answer:hover{
    /* background-color: green; */
}

.answer:hover > .mark-answer{
    visibility: visible;
}
.functions {
   float:right
}

.card{
    margin: 0.5em;
}
